body {
  margin:0;
  overflow:hidden;
}

body > * {
  animation:fadein 0.4s ease-out 0.1s both;
}
@keyframes fadein {
  0% {
    transform:translateY(100px);
    opacity:0;
  }
  50% {opacity:0.4;}
  100% {
    transform:translateY(0);
    opacity:1;
  }
}

* {
  font-family:'Nunito',sans-serif;
  color:#31393C;
}

#roomcont {
  display:grid;
  place-content:space-around;
  height:100vh;
  grid-template:auto;
}

#logo {
  display:flex;
  align-items:center;
}

#logo > svg {
  width:75px;
  height:75px;
  margin-right:10px;
}

#navbar {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  grid-area: 1 / 2 / 1 / 4;
}

#navbar h2 {
  margin-left:10%;
}

.room {
  border-radius:7px;
  padding:20px 30px;
  height:217.833px;
  background:#e0e7f0;
  transition:background 0.1s;
}


.room button {
  background:#ffffff;
  outline:none;
  border-radius:3px;
  padding:5px;
  border:none;
}

.room input {
  padding:5px;
  border-radius:3px;
  border:none;
  outline:none;
}
.room img {
  fill:#31393C;
  width:25px;
  height:25px;
  float:right;
  margin-top:19.92px;
  animation:lockerr 0.4s infinite paused;
}
@keyframes lockerr {
  15% {transform:rotate(20deg) scale(1.1)}
  40% {transform:rotate(-20deg) scale(1.1)}
  65% {transform:rotate(20deg) scale(1.1)}
  90% {transform:scale(1) rotate(0)}
}
